alias fucking='sudo '
alias fuck='sudo '

alias ls='ls --color=auto '
alias ll='ls -alF '
alias la='ls -A '
alias l='ls -CF '

alias grep='grep --color=auto '
alias fgrep='fgrep --color=auto '
alias egrep='egrep --color=auto '

alias diff='diff --color=auto '

alias less='/usr/share/vim/vim82/macros/less.sh '

alias gh='cd ~'
alias lf='lfcd '

alias ssh_='TERM=xterm-256color ssh '

alias pwd_='printf "%q\n" "$(pwd)"'

alias yaft=''
alias yaft_wall=''

