alias fucking='sudo '
alias fuck='sudo '

alias ls='ls --color=auto '
alias ll='ls -alF '
alias la='ls -A '
alias l='ls -CF '

alias grep='grep --color=auto '
alias fgrep='fgrep --color=auto '
alias egrep='egrep --color=auto '

alias x-start='startx "$XDOTDIR/.xinitrc" -- "$XDOTDIR/.xserverrc"'

alias stb='tabbed -cd -r 2 st -w "id"'
